@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
body{
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4C3BCF;
}
.main{
    margin-top: 130px;
    color: #f5f5f5;
    text-align: center;
    display: block;
}
.study{
    margin-top: 130px;
    color: #f5f5f5;
    text-align: center;
    display: block;
}
label{
    font-size: 70px;
    color: #f5f5f5;
}
.btn{
    margin-top: 20px;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border:0px solid #4D869C;
    background-color: #ffffff;
    color: #4C3BCF;
    height: 60px;
    width: 150px;
    font-weight: bold;
}
h3{
    font-size: 30px;
    color: #f5f5f5;
}
.main h1{
    font-size: 70px;
    color: #f5f5f5;
    letter-spacing: 5px;
}
.study h1{
    margin-bottom: 20px;
    font-size: 100px;
    color: #f5f5f5;
    letter-spacing: 5px;
}